{
  "globals": {
    "expect": true,
    "describe":true,
    "shallow":true,
    "spy":true,
    "it":true,
    "mount":true,
    "viewport": true
  },
  "extends": "@folio/eslint-config-stripes",
  "overrides": [
    {
      "files": ["lib/**/tests/**", "util/tests/*", "hooks/tests/*"],
      "rules": {
        "func-names": "off",
        "max-classes-per-file": "off",
        "max-len": "off",
        "no-unused-expressions": "off",
        "react/prop-types": "off"
      }
    }
  ],
  "parser": "@babel/eslint-parser",
  "rules": {
    "max-len": ["warn", { "code": 120 }],
    "no-console": ["error", {
      "allow": ["warn", "error"]
    }],
    "prefer-object-spread": "off",
    "react/jsx-curly-brace-presence": "off",
    "react/sort-prop-types": ["error"]
  }
}
