"*":
  editor:
    backUpBeforeSaving: true
    fontSize: 13
    invisibles: {}
    lineHeight: 2.5
    scrollPastEnd: true
    scrollSensitivity: 80
    showIndentGuide: true
    showInvisibles: true
    tabLength: 2
    zoomFontWhenCtrlScrolling: true
